---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/generel.css";
---

<MainLayout>
  <h1>About us</h1>
  <div class="info">
    <img class="order" src="/public/img/practical_img.webp" alt="pracital information" />
    <div class="text">
      <h2>Practical information</h2>
      <p><strong>Where:</strong> 3 days of house, disco, and techno in the magical forest. Karrusel takes place at a secluded green spot on Refshaleøen in central Copenhagen.</p>
      <br />
      <p><strong>Address:</strong> Refshalevej 193, 1432 Copenhagen.</p>
      <br />
      <p><strong>When:</strong> 22–24 August 2024 Early Bird Festival Passes on sale now until 1 April.</p>
    </div>
  </div>
  <div class="info">
    <img src="/public/img/festival_ex.webp" alt="festival experience" />
    <div class="text">
      <h2>Festival Experience</h2>
      <p>Karrusel believes in the right to a harassment-free festival experience. We believe in the right of everyone to express themselves. Karrusel welcomes everybody – all with their different orientations, experiences, histories and backgrounds. Karrusel only exists if everyone takes care of each other, respects their own and others boundaries, embraces diversity and acts as a part of the community. If you feel unsafe, please reach out to our awareness team. They will be wearing a pink vests and walk around the site and be at their base (see on this map). Ask any festival staff and they will guide you to the them.</p>
      <br />
      <p>Take responsibility for your own actions</p>
      <p>Respect your own and others boundaries</p>
      <p>Speak up rather than look the other way</p>
    </div>
  </div>
  <div class="info order">
    <img class="order" src="/public/img/sustainability_img.webp" alt="sustainability" />
    <div class="text">
      <h2>Sustainability</h2>
      <p>Karrusel is committed to becoming more sustainable. In order to save resources and reduce waste we use left over materials and timber for stage designs and installations. We will re-use production and print materials when possible year after year. Beverages are served in reusable or sustainable materials. Straws are not being used. How you can help: Take a bike or public transport to the festival. Don’t bring confetti or glitter to the festival. There will be free tap water stations during the festival. Please bring an empty cup or bottle and drink nice free tap water.</p>
    </div>
  </div>
  <div class="info">
    <img src="/public/img/history_img.webp" alt="history" />
    <div class="text">
      <h2>History</h2>
      <p>2024 marks the 5th edition of Karrusel. Karrusel is a circus themed rave presenting some of the world's leading electronic artists. Past editions include performances by Acid Pauli, Amelie Lens, Dixon, FJAAK, Folamour, Hunee, Job Jobse, Kölsch, Mall Grab, Nastia, Partiboi69, Peggy Gou, Richie Hawtin, Skin On Skin, The Blessed Madonna, Victor Ruiz and VTSS. The festival is open air and takes place on secluded green spot at the abandoned shipyard of Refshaleøen in central Copenhagen.</p>
    </div>
  </div>
</MainLayout>

<style>
  h1 {
    font-family: rye;
    margin-left: 15px;
    margin-top: 20px;
  }

  .info .text {
    background-color: #1e1e1ec1;
    border-radius: 10px;
    padding: 20px;
  }

  .text p {
    hyphens: auto;
  }

  .info {
    margin: 30px 0 20px 15px;
  }

  .info img {
    margin-bottom: 15px;
  }

  .info h2 {
    margin-bottom: 5px;
  }

  @media (min-width: 800px) {
    h1 {
      margin-left: 170px;
    }
    .info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 1100px;
      margin: 70px auto;
      gap: 50px;
    }
    .order {
      order: 1;
    }

    .info h2,
    .info p {
      padding: 10px 0 10px 20px;
    }
  }
</style>
