---
import "../styles/generel.css";
import MainLayout from "../layouts/MainLayout.astro";
import EventCard from "../components/EventCard.astro";
---

<!-- <div class="event">
  <div class="event_header">
    <p>22/08/2024</p>
    <p>Karrusel Festival</p>
  </div>

  <div class="event_h1">
    <h1>Ansigtsmaling</h1>
  </div>

  <div class="event_p"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>

  <div class="event_link">
    <p>Arrangeret af <a href="https://www.nusnus.dk/">Nus Nus</a></p>
  </div>
</div> -->
<MainLayout>
  <h1 class="event_headline">Events</h1>
  <section class="event_container">
    <EventCard variant="variant_1" date="22. august" title="Karrusel Festival" headline="Face painting" description="Face painting adds an extra layer of fun and creativity to any festival experience! Join us at our festival for a day filled with vibrant colors, whimsical designs, and endless smiles as our talented face painters transform your look into a work of art. Whether you're channeling your inner superhero, embracing your wild side with animal prints, or simply adding a touch of sparkle, our skilled artists will bring your imagination to life." />
    <EventCard variant="variant_2" date="22. august" title="Karrusel Festival" headline="Cocktail making" description="Indulge in the art of cocktail making at our festival! Join us for an unforgettable experience where you'll learn the secrets behind crafting the perfect drink. Our expert mixologists will guide you through the process, from selecting the finest ingredients to mastering the techniques of shaking, stirring, and garnishing. Whether you're a cocktail connoisseur or a novice enthusiast, our interactive sessions promise to tantalize your taste buds and ignite your creativity." />
    <EventCard variant="variant_3" date="23. august" title="Karrusel Festival" headline="Karrusel" description="Experience the thrill of the carousel at our festival! Step into a world of whimsy and wonder as you take a whirl on our beautifully adorned carousel. Let the nostalgic music and twinkling lights transport you to a magical realm where laughter fills the air and worries fade away." arrange="Arranget af Nus Nus" />
    <EventCard variant="variant_4" date="23. august" title="Karrusel Festival" headline="Show" description="Prepare to be dazzled by our sensational show at the festival! Immerse yourself in a world of captivating performances, mesmerizing acts, and unforgettable entertainment. From breathtaking acrobatics to spellbinding magic tricks, our show promises to ignite your imagination and leave you on the edge of your seat." />
    <EventCard variant="variant_5" date="24. august" title="Karrusel Festival" headline="Palm reading" description="Embark on a journey of self-discovery with palm reading at our festival! Delve into the ancient art of palmistry and unlock the secrets hidden within the lines of your hand. Our experienced palm readers will guide you through a fascinating exploration of your past, present, and future, offering insights into your personality, relationships, and life's path. Whether you're seeking guidance, clarity, or simply a glimpse into what lies ahead, a palm reading session promises to intrigue and enlighten." />
    <EventCard variant="variant_6" date="24. august" title="Karrusel Festival" headline="Horseback riding" description="Experience the freedom and beauty of horseback riding at our festival! Saddle up and embark on an unforgettable adventure through scenic trails and picturesque landscapes. Whether you're a seasoned rider or a first-time equestrian, our horseback riding experiences cater to riders of all levels. Feel the exhilaration as you trot, canter, or gallop alongside majestic horses, feeling the rhythm of their powerful strides beneath you." />
  </section>
  <section class="food">
    <h1>Food</h1>
    <ul>
      <li>Gasoline Grill</li>
      <li>Strangas Greek Food</li>
      <li>Poulette</li>
      <li>Pasta la Pasta</li>
    </ul>
  </section>
  <hr />
  <section class="bar">
    <h1>Bar</h1>
    <ul>
      <li>To Øl aps</li>
      <li>Økovin</li>
      <li>Juiceorganic aps</li>
      <li>Postevand</li>
      <li>Mikkeller</li>
    </ul>
  </section>
</MainLayout>

<style>
  .event_headline {
    font-size: 3rem;
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    font-family: rye;
  }
  .event_container {
    display: grid;
    justify-content: center;
    margin: auto;
  }

  hr {
    border: solid 0.5px var(---text-color);
  }

  .food h1,
  .bar h1 {
    font-family: rye;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 2rem;
  }

  .food {
    margin-top: 0;
    margin-bottom: 25px;
  }
  .bar {
    margin-bottom: 25px;
    margin-top: 30px;
  }

  ul li {
    color: var(---text-color);
    margin-left: 20px;
    margin-bottom: 8px;
    list-style: none;
  }

  @media (min-width: 800px) {
    .event_container {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      max-width: 1200px;
    }

    .food,
    .bar {
      max-width: 1200px;
      margin: 40px auto 25px;
    }
  }
  /* .event {
    background: #ff4e50;
    background: -webkit-linear-gradient(left, #023dff, #ff00a5);
    background: linear-gradient(to right, #023dff, #ff00a5);

    width: 400px;
    height: 500px;
    padding: 20px;
  }

  .event_header {
    display: flex;
    justify-content: space-between;
    color: white;
  }

  .event_h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
  }

  .event_p {
    margin-bottom: 190px;
    padding-left: 30px;
    padding-right: 30px;
    overflow-wrap: break-word;
    hyphens: auto;
    color: white;
  }

  .event_link {
    text-align: center;
    margin-bottom: 0;
    color: white;
  }

  a {
    color: white;
  } */
</style>
