---
import Burger from "../components/Burger.astro";
import Button from "../components/Button.astro";
---

<Burger />
<Button variant="primary">Noget text</Button>
<Button variant="secondary">Noget text</Button>
