---
import "../styles/generel.css";
import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Countdown from "../components/Countdown.astro";

const artist = await fetch("https://couztkypuvadixszzvmk.supabase.co/rest/v1/KarruselFestival", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvdXp0a3lwdXZhZGl4c3p6dm1rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0MDk2NDgsImV4cCI6MjAyNTk4NTY0OH0.oMKp-E0V7IIEqcgHIkiLPHgJ0ErGic-JPce1db7I5js",
  },
}).then((response) => {
  return response.json();
});

console.log("artist", artist);
---

<MainLayout>
  <section class="hero">
    <h1>Karrusel Festival</h1>
    <h1>Copenhagen - Refshalesøen</h1>
    <h1>22. - 24. august</h1>
  </section>
  <section class="artist">
    {
      artist.map((artist) => {
        return <Card data={artist} />;
      })
    }
  </section>

  <div class="view_lineup">
    <a href="/programliste">View full line up</a>
  </div>

  <section class="video">
    <iframe src="https://www.youtube.com/embed/w5XwDzNwiSk?si=g7RQT7fF8nlNHMGF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </section>

  <section class="countdown">
    <Countdown />
  </section>
</MainLayout>

<style>
  .hero {
    font-family: rye;
    color: var(---text-color);
    font-size: 2rem;
    text-align: center;
    margin: 70px 0;
  }

  .hero :first-child {
    font-size: 4rem;
  }

  .hero :nth-child(2),
  .hero :nth-child(3) {
    font-size: var(--font-size-h1-mobile);
    color: rgba(255, 255, 255, 0.735);
  }
  a {
    color: var(---text-color);
  }

  a:hover {
    color: var(---green-100);
  }

  iframe {
    margin: 50px auto;
    max-width: 550px;
    height: 315px;
  }

  .view_lineup {
    text-align: center;
    font-size: var(--font-size-h3-mobile);
  }

  .video {
    background-color: var(---background-color);
    margin: 50px 0;
  }

  @media (min-width: 550px) {
    .hero {
      margin: 200px 0;
    }
    .hero :first-child {
      font-size: 5rem;
    }
    .video {
      padding: 50px 0;
    }
  }
  @media (min-width: 800px) {
    .artist {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .view_lineup {
      font-size: var(--font-size-h2-desktop);
      margin: 100px 0;
    }

    .hero h1 {
      font-size: 3.5rem;
    }
  }
</style>

<script></script>
