---
import "../styles/generel.css";
import ProgramlistArtistBox from "../components/ProgramlistArtistBox.astro";
import MainLayout from "../layouts/MainLayout.astro";
import FilterBox from "../components/FilterBox.astro";

const artist = await fetch("https://couztkypuvadixszzvmk.supabase.co/rest/v1/KarruselFestival", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvdXp0a3lwdXZhZGl4c3p6dm1rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0MDk2NDgsImV4cCI6MjAyNTk4NTY0OH0.oMKp-E0V7IIEqcgHIkiLPHgJ0ErGic-JPce1db7I5js",
  },
}).then((response) => {
  return response.json();
});

// console.log("artist", artist.slug);
---

<MainLayout>
  <section class="list_headline">
    <h1>Line-up</h1>
    <FilterBox />
  </section>

  <section class="list">
    {
      artist.map((artist) => {
        return <ProgramlistArtistBox data={artist} />;
      })
    }
  </section>
</MainLayout>

<style>
  .hide {
    display: none;
  }
  h1 {
    font-family: rye;
    font-size: 3rem;
    margin: 20px 0 20px 20px;
  }

  @media (min-width: 800px) {
    .list_headline {
      max-width: 1350px;
      margin: auto;
    }
    .list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
  }
</style>

<!-- <script>
  const elements = document.querySelectorAll("article li.House");

  elements.forEach((elm) => {
    elm.parentElement.parentElement.parentElement.classList.add("hide");
    console.log(elm.parentElement.parentElement.parentElement);
  });
</script> -->
