---
import "../styles/generel.css";
const { data } = Astro.props;
---

<a href=`singleview/${data.slug}`>
  <article>
    <img src={"portraet/" + data.image} alt={"Image of " + data.name} />
    <h3>{data.name + " " + data.land}</h3>
    <p>{data.genre}</p>

    {
      data.artist && (
        <ul>
          {data.artist.map((item) => {
            return <li> {item}</li>;
          })}
        </ul>
      )
    }
  </article>
</a>

<style>
  article {
    width: 300px;
    color: white;
    margin-left: 2rem;
    animation: move_rtl 6s linear infinite;
    white-space: nowrap;
    background-color: var(---blue-60);
    height: 250px;
  }

  h3 {
    padding-left: 5px;
    font-size: var(--font-size-h3-mobile);
  }
  p {
    padding-left: 5px;
    font-size: var(--font-size-p);
  }
  @keyframes move_rtl {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }
  a {
    text-decoration: none;
  }
</style>
