---
import "../styles/generel.css";
const {data} = Astro.props;
---

<article>
<img src={"../portraet/" + data.img}  alt={"Image of" + data.name}>
<h3>{data.name + " "+ data.land}</h3>
<p>{data.genre}</p>

</article>

<style>
  article {
    max-width: 200px;
    color: white
  }
  .card1 {
    background-color: var(---pink-100);
  }

  .card2 {
    background-color: var(---green-100);
    color: var(---text-color);
  }
</style>
