---
import "../styles/generel.css";
const { data } = Astro.props;
---

<a href=`/singleview/${data.name}`>
  <article>
    <img src={"portraet/" + data.image} alt={"Image of " + data.name} />
    <h3>{data.name + " " + data.land}</h3>
    <p>{data.genre}</p>

    {
      data.artist && (
        <ul>
          {data.artist.map((item) => {
            return <li> {item}</li>;
          })}
        </ul>
      )
    }
  </article>
</a>

<style>
  article {
    max-width: 200px;
    color: white;
  }
  .card1 {
    background-color: var(---pink-100);
  }

  .card2 {
    background-color: var(---green-100);
    color: var(---text-color);
  }
</style>
