---
import "../styles/generel.css";
import Card from "../components/Card.astro";

const artist = await fetch("https://couztkypuvadixszzvmk.supabase.co/rest/v1/KarruselFestival", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvdXp0a3lwdXZhZGl4c3p6dm1rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0MDk2NDgsImV4cCI6MjAyNTk4NTY0OH0.oMKp-E0V7IIEqcgHIkiLPHgJ0ErGic-JPce1db7I5js",
  },
}).then((response) => {
  return response.json();
});

console.log("artist", artist);
---

<section class="artist carousel">
  <div class="carousel-slide">
    {
      artist.map((artist) => {
        return <Card data={artist} />;
      })
    }
  </div>
</section>

<style>
  /* Stil til at skjule alle slides undtagen det første */
  .carousel-slide {
    display: none;
  }

  /* Vis det første slide */
  .carousel-slide:first-child {
    display: block;
  }

  /* Animationsstil til at glide til næste slide */
  @keyframes slide {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Animering af slides */
  .carousel-slide {
    animation: slide 1s ease;
  }

  /* Tilføj styling til billedkarusellen */
  .carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
</style>
