---
import "../styles/generel.css";
---

<section class="countdown_container">
  <h1>Countdown til Karrusel Festival</h1>
  <div class="countdown">
    <div>
      <p id="days">00</p>
      <span>Dage</span>
    </div>
    <div>
      <p id="hours">00</p>
      <span>Timer</span>
    </div>
    <div>
      <p id="minutes">00</p>
      <span>Minutter</span>
    </div>
    <div>
      <p id="seconds">00</p>
      <span>Sekunder</span>
    </div>
  </div>
</section>

<style>
  .countdown {
    display: flex;
  }

  .countdown div {
    flex-basis: 100px;
  }
</style>

<script>
  var countDownDate = new Date("22. august, 2025 00:00:00").getTime();
  var x = setInterval(function () {
    var now = new Date().getTime();
    var distance = countDownDate - now;

    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    document.getElementById("days").innerHTML = days;
    document.getElementById("hours").innerHTML = hours;
    document.getElementById("minutes").innerHTML = minutes;
    document.getElementById("seconds").innerHTML = seconds;
  }, 1000);
</script>
