<h3>Filter by genre</h3>

<form id="filter_form">
  <div>
    <input type="radio" id="house" name="genre" value="house" checked />
    <label for="house"> House </label>
  </div>
  <div>
    <input type="radio" id="techno" name="genre" value="techno" checked />
    <label for="techno"> Techno </label>
  </div>
  <div>
    <input type="radio" id="disco" name="genre" value="disco" checked />
    <label for="disco"> Disco </label>
  </div>
</form>

<style>
  #filter_form {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 1px solid white;
    padding: 10px 10px;
    border-radius: 5px;
    max-width: fit-content;
    margin-top: 10px;
  }
</style>
