---
import "../styles/generel.css";
import Burger from "../components/Burger.astro";
---

<div class="nav-container">
  <a href="/"><img src="/public/img/karrosel-logo.png" alt="karrusel logo" /></a>
  <p>22.- 24. august</p>
  <div>
    <button>Buy Tickets</button>
    <Burger />
  </div>
</div>

<style>
  .nav-container img {
    width: 90px;
    filter: contrast(5%);
  }

  .nav-container {
    padding: 11px 6px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 5px 0 5px;
  }

  /*mobil*/
  button {
    border: 3px solid var(---green-100);
    border-radius: 10px;
    padding: 10px 15px;
    background-color: transparent;
    cursor: pointer;
    color: var(---text-color);
  }

  button:hover {
    background-color: var(---green-100);
    color: var(---background-color);
  }

  @media (min-width: 800px) {
    .nav-container {
      justify-content: space-between;
    }

    button {
      margin-right: 80px;
    }
  }
</style>
