---
import "../styles/generel.css";
const { data } = Astro.props;
---

<a href=`singleview/${data.slug}`>
  <article class="grid">
    <img src={"portraet/" + data.image} alt={"Image of " + data.name} />
    <div>
      <h3>{data.name + " " + data.land}</h3>
      <!-- <p>{data.genre}</p> -->

      {
        data.genre && (
          <ul>
            {data.genre.map((item) => {
              return <li class={item}> {item}</li>;
            })}
          </ul>
        )
      }
    </div>
  </article>
</a>

<style>
  article {
    background-color: var(---blue-60);
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto 30px;
    text-decoration: none;
    width: 350px;
  }

  article img {
    height: 70px;
  }

  article h3,
  article p {
    padding-left: 10px;
  }

  a {
    text-decoration: none;
  }

  ul li {
    list-style: none;
    color: var(---text-color);
    padding-left: 10px;
  }
</style>
